body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: black;
    color: aqua;
}

header {
    text-align: center;
    padding: 10px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 90vh;
}

img {
    margin: 5px;
    height: 150px;
    width: 150px;
    border-radius: 150px;
}

h1 {
    margin: 5px;
}

p {
    margin: 5px;
    width: 50%;
}
