[submodule "Clone/mi-clone"]
    path = Clone/mi-clone
    url = https://github.com/klrab3490/mi-clone.git

[submodule "Class/Class 23 - 28 July 2025"]
    path = Class/Class 23 - 28 July 2025
    url = https://github.com/klrab3490/to-do-list.git
