#featured {
    height: 895px;
    margin: 120px 8px;
    padding: 0 32px;
}

#featured #featured-title {
    text-align: center;
}

#featured #featured-title div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#featured #featured-title h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 48px;
}

#featured #featured-title div h3 {
    margin: 0;
    padding: 0 28px;
}

.featured-button {
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    height: 40px;
}

.featured-button:hover {
    color: #FF6900;
    border-bottom: #FF6900 2px solid;
}

.featured-button.active {
    color: #FF6900;
    border-bottom: #FF6900 2px solid;
}

.featured-content {
    display: flex;
    height: 768px;
    padding: 24px;
    position: relative;
}

.featured-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.featured-tab.active {
    opacity: 1;
    pointer-events: auto;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 320px);
    gap: 24px;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.featured-tab .card1 {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.featured-tab .card1 h3 {
    font-size: 24px;
    margin: 0;
    padding: 0 16px;
    text-align: center;
}

.featured-tab .card1 p {
    font-size: 16px;
    margin: 0;
    margin-top: 12px;
    padding: 0 16px;
    text-align: center;
}

.featured-tab .card1 button {
    background-color: black;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 10px 24px;
    text-align: center;
    border: black 1px solid;
    border-radius: 14px;
}

.featured-tab .card1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.featured-tab #featured-card {
    width: auto;
    height: 348px;
    border-radius: 8px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-tab #featured-card img {
    height: 160px;
    width: 160px;
}

.featured-tab #featured-card h3 {
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.featured-tab #featured-card p {
    margin: 0;
    margin-top: 14px;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.featured-tab #featured-card p .featured-price {
    font-size: 18px;
}

.featured-tab #featured-card p .featured-old-price {
    font-size: 16px;
    color: grey;
}