body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: start;
    align-items: start;
    font-weight: bold;
    font-size: 16px;
}

#header-home {
    background-image: url("./image/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#header-about {
    background-image: url("./image/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#header-portfolio {
    background-image: url("./image/portfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#header-contact {
    background-image: url("./image/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

header a {
    text-decoration: none;
    color: black;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: white;
}

main {
    padding: 40px;
}

section {
    padding-left: 80px;
    padding-right: 80px;
}

main div {
    text-align: center;
}

main div p {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p,a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}
