/* Navbar */
.phones-trigger.active .underline-indicator {
    transform: scaleX(1);
}

/* Hero Section */
.slider-card {
    display: none;
    opacity: 0;
}

.slider-card.active {
    display: flex;
    opacity: 1;
}

.dot.active {
    background-color: #ff6900;
}

/* Featured Section */
.featured-tab {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.featured-tab.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

/* Redmi Slider */
.redmicard {
    display: none;
    opacity: 0;
}

.redmicard.active {
    display: flex;
    opacity: 1;
}

.redmidot.active {
    background-color: #ff6900;
}